/* Text */

body, input, textarea, select {
  color: #666;
  font: 9pt Verdana, Arial, sans-serif;
}

body { line-height: 1.6em; }

p { margin: 1em 0; }

strong { font-weight: bold; }

em { font-style: italic; }

code {
  background-color: #eef;
  font-family: Monaco, monospaced;
  padding: 0.2em;
}

pre {
  background-color: #eef;
  border: 1px solid #cacad8;
  margin: 1em;
  padding: 1em;
}

  pre code { padding: 0; }

/* Headings */

h1, h2, h3 {
  color: #454b50;
  margin: 1em 0 0.5em 0;
}

h1 { font-size: 1.8em; }

h2 {
  border-top: 2px solid #eee;
  font-size: 1.6em;
  padding-top: 0.5em;
}

h3 { font-size: 1.2em; }

/* Links */

a { text-decoration:none; }

  a:link, a:visited { color: #2a68c1; }
  
  a:hover { text-decoration: underline; }
  
  a:active { color: #910; }
  
  a img { border-style: none; }

/* Lists */

ul, ol { margin-left: 3em; }

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

li { margin: 0.5em 0; }

/* Tables */

table {
  border-collapse: collapse;
  margin: 1em 0;
}

  table td, table th {
    border: 1px solid #ccc;
    padding: 0.2em 0.5em;
  }
  
  table th { font-weight: bold; }

/* Forms */

form { margin: 1em 0; }

  form .element {
    padding: 0.5em 0;
  }
  
  form label, form .label {
    display: block;
    font-weight: bold;
  }

/* Directory Tree */

.directory-tree ul {
  list-style-type: none;
  margin-left: 1em;
}

  .directory-tree li {
    background: url('../images/folder.png') no-repeat 0 0.2em;
    padding-left: 20px;
    margin: 0.2em 0;
  }
  
  .directory-tree li.stylesheet {
    background-image: url('../images/page_white_code.png');
  }
  
  .directory-tree li.image {
    background-image: url('../images/picture.png');
  }